<div class="card">
  <button class="delete-button">
    <i class="fas fa-times"></i>
  </button>
  <h2 class = "logTitle" >
    {{title}}
  </h2>
  <h5 class = "logDate" >
    {{date}}
  </h5>
  <div class="log-text" style="height:100px;">
    <p class = "logMilage" >
      Miles Run: {{miles}}
    </p>
    <p class = "logText" >
      {{text}}
    </p>
  </div>
</div>
