

<div class="row">
  <div class="leftcolumn">

    {{#each entry}}
      {{> entryCard}}
    {{/each}}

  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About My Blog</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>This is my running blog. I will be using it to keep track of my progress.</p>
    </div>
    <div class="card">
      <h3>Running photos</h3>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
</div>

</div>


<div class="footer">
  <h2>Footer</h2>
</div>

<button type="button" id="create-log">
  <i class="fa fa-edit"></i>
</button>

<div id="modal-backdrop" class="hidden"></div>
<div id="create-log-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Record a Log</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="log-input-element">
        <label for="log-text-input">Title</label>
        <input type="text" id="log-attribution-input">
      </div>

      <div class = "log-input-element">
          <label for = "log-date-input">Date</label>
          <input type = "text" id="log-date-input">
      </div>

      <div class="log-input-element">
        <label for="log-text-input">Entry</label>
        <textarea id="log-text-input"></textarea>
      </div>

      <div class="log-input-element">
        <label for="log-miles-input">Miles</label>
        <input type="text" id="log-miles-input">
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Create Log</button>
    </div>

  </div>
</div>
